<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="step1">
    Step 1: Fill in as much as you want.
      <%= f.submit "", :class => "doneButton", :style => "position: relative; top: -30px;"%>
  </div>

  <%= f.text_field :title, :id => "title", :class => "textField", :autocomplete => "off", :placeholder => "Untitled Event" %><br>
  <%= f.text_field :organizedBy, :id => "organizedBy", :class => "textField", :autocomplete => "off", :placeholder => "Who's is it organized by?" %><br>

  <div class="entry">
    Date and Time:
  </div>

   <div class="field" style="margin-left: 20px;">
    <%= text_field_tag :date,
      @event.start ? @event.start.strftime("%m/%d/%Y") : '',
      :autocomplete => "off",
      :onkeyup => "putDayInNext(this)",
      :placeholder => DateTime.now.strftime("%m/%d/%Y"),
      :class => "dateSelect textField entry" %>
    ( <%= label_tag :dayOfWeek,
      (format_date (@event.start ?  @event.start : Time.now)),
      :style => "font-size: 14px" %> )
  </div>

  <div id="calendar">
        <div id="cont"></div>
  </div>
  <script type="text/javascript">
    var LEFT_CAL = Calendar.setup({
      cont: "cont",
      weekNumbers: false,
      selectionType: Calendar.SEL_MULTIPLE,
      showTime: 12
    })

    function initCalendar() {
      LEFT_CAL.fdow = 0;
      LEFT_CAL.args.showTime = false;
      LEFT_CAL.redraw();
    };

    initCalendar();

    LEFT_CAL.addEventListener("onSelect", function(){
      var ta = jQuery("#date");
      ta.val(this.selection.print("%m/%d/%Y").join("\n"));
    });

  </script>

  <div class="field entry">
   from <%= text_field_tag :start,
    (format_time (@event.start ? @event.start : Time.now)),
      :class => "timeSelect textField entry", :style => "width: 68px;", :placeholder => format_time(Time.now) %>
    until  <%= text_field_tag :end,
    (format_time (@event.end ? @event.end : Time.now + 1.hour)),
    :class => "timeSelect textField entry", :style => "width: 68px;", :placeholder => format_time(Time.now + 1.hour) %>
    <%= label_tag :dayOfWeek,
      (format_date (@event.start ?  @event.start
                                 : Time.now)),
      :style => "font-size: 11px" %>
    <br />
  </div>
 
  <div class="entry" style="margin-bottom: 10px; margin-top: 20px;">
    Location:
  </div>

  <div class="field entry">
    <%= f.text_field :location, :class => "entry textField", :autocomplete => "off", :placeholder => "e.g. Philadelphia" %>
    <%= button_tag  "Search", {:class => "link", :type => "button", :onclick => "codeAddress()"} %>
    <br />
  <div id="suggestion" style="display:inline-block;top:0;padding:2px;display:none"
    onclick="jQuery('#event_location').val(jQuery('#suggestion').html())">Carnegie Mellon</div>
  </div>
  <br />
  <div id="map_canvas" style="width:698px; height:300px"></div>
  <br />

  <div class="field">
    <%= f.text_area :details, :id => "moreInfo", :class => "textField", :placeholder => "Add more info..." %>
  </div>
  <div class="actions">
      <%= f.submit "", :class => "doneButton" %>
      <a href="#"></a>
  </div>
<% end %>
