<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="step1" style="float: none; margin-bottom: 40px;">
    Step 2: Share the URL to your friends!
  </div>
  <div id="title">
    <%= @event.title %>
  </div>
  <br>
  <div id="organizedBy">
    <%= @event.organizedBy %>
  </div>
  <br>

  <div class="entry">
    Date and Time:
  </div>

   <div class="field" style="margin-left: 20px;">
    <%= text_field_tag :date,
      @event.start ? @event.start.strftime("%m/%d/%Y") : '',
      :autocomplete => "off",
      :onkeyup => "putDayInNext(this)",
      :placeholder => DateTime.now.strftime("%m/%d/%Y"),
      :class => "dateSelect textField entry" %>
    ( <%= label_tag :dayOfWeek,
      (format_date (@event.start ?  @event.start : Time.now)),
      :style => "font-size: 14px" %> )
  </div>

  <div class="field entry">
   from <%= text_field_tag :start,
    (format_time (@event.start ? @event.start : Time.now)),
      :class => "timeSelect textField entry", :style => "width: 68px;", :placeholder => format_time(Time.now) %>
    until  <%= text_field_tag :end,
    (format_time (@event.end ? @event.end : Time.now + 1.hour)),
    :class => "timeSelect textField entry", :style => "width: 68px;", :placeholder => format_time(Time.now + 1.hour) %>
  </div>
 
  <div class="entry" style="margin-bottom: 10px; margin-top: 20px;">
    Location:
  </div>

  <div class="field entry" id="event_location">
    <%= @event.location %>
    <br />
    <script type="text/javascript">
        var ta = display();
    </script>
  <div id="suggestion" style="display:inline-block;top:0;padding:2px;display:none"
    onload"jQuery('#event_location').val(jQuery('#suggestion').html())">Carnegie Mellon</div>
  </div>
  <br />
  <div id="map_canvas" style="width:698px; height:300px"></div>
  <br />

  <div id="moreInfo">
    <%= @event.details %>
  </div>

  <%= link_to 'Edit', edit_event_path(@event), :class => "link", :type => "button", :style => "float: right; margin-bottom: 40px;" %>
<% end %>
