<div id="createEventWrapper">
  <p id="notice"><%= notice %></p>
  <%= render 'view' %>
</div>

<div id="logo_div">
  <%= link_to image_tag("logo.png", :id => "logo", :alt => "plan.it"), root_path %>
</div>
<div id="footernote">
  Created as part of PennApps 2013 - Willy Hauser & Mirai Akagawa
</div>

<%= link_to new_user_path(:k => @event.id), new_user_path(:k => @event.id) %>


<%= link_to 'Edit', edit_event_path(@event), :class => "link", :type => "button" %>


