<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
   <div style="display:inline-block; padding:1em;">
    <%= text_field_tag :date,
      @event.start_time ? @event.start_time.strftime("%d/%m/%Y") : "",
      :onkeyup => "putDayInNext(this)",
      :class => "dateSelect" %>
      <%= label_tag :dayOfWeek,
        (@event.start_time ? (format_date @event.start_time) : ""),
        :style => "font-size: 11px" %>
      <br />
      from <%= text_field_tag :start_time,
      @event.start_time ? (format_time @event.start_time) : "",
        :class => "timeSelect" %>
      until <%= text_field_tag :end_time,
      @event.end_time ? (format_time @event.end_time) : "",
      :class => "timeSelect" %>
  </div>

  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
