<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
   <div class="field" style="display:inline-block; padding:1em;">
    <%= text_field_tag :date,
      @event.start ? @event.start.strftime("%d/%m/%Y")
                   : DateTime.now.strftime("%d/%m/%Y"),
      :autocomplete => "off",
      :onkeyup => "putDayInNext(this)",
      :class => "dateSelect field" %>
    <%= label_tag :dayOfWeek,
      (format_date (@event.start ?  @event.start : Time.now)),
      :style => "font-size: 11px" %>
    <br />
    from <%= text_field_tag :start,
    (format_time (@event.start ? @event.start : Time.now)),
      :class => "timeSelect field" %>
    until <%= text_field_tag :end,
    (format_time (@event.end ? @event.end : Time.now + 1.hour)),
    :class => "timeSelect field" %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :autocomplete => "off" %>
    <%= button_tag  "Search", {:type => "button", :onclick => "codeAddress()"} %>
    <br />
  <style type="text/css">
    #suggestion { border: solid 1px grey }
    #suggestion:hover {
      cursor: default;
      background: #ddd;
    }
  </style>
      
  <div id="suggestion" style="display:inline-block;top:0;padding:2px;display:none"
    onclick="jQuery('#event_location').val(jQuery('#suggestion').html())">Carnegie Mellon</div>
  </div>
  <br />
  <div id="map_canvas" style="width:540px; height:300px"></div>
  <br />

  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
