<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="step1">
    Step 1: Fill in as much as you want.
  </div>

  <%= f.text_field :title, :id => "title", :class => "textField", :autocomplete => "off", :placeholder => "Untitled Event" %><br>
  <%= f.text_field :organizedBy, :id => "organizedBy", :class => "textField", :placeholder => "Who's is it organized by?" %><br>

  <%= f.text_field :audience, :id => "audience", :class => "textField entry", :placeholder => "For Who?" %><br>
  

   <div class="field">
    <%= text_field_tag :date,
      @event.start ? @event.start.strftime("%d/%m/%Y") : "",
      :placeholder => "date?",
      :onkeyup => "putDayInNext(this)",
      :class => "dateSelect field textField entry" %>
      <%= label_tag :dayOfWeek,
        (@event.start ? (format_date @event.start) : "") %>
      <br />
      <%= text_field_tag :start,
      @event.start ? (format_time @event.start) : "", :class => "timeSelect field textField entry", :placeholder => "time from" %>
      <%= text_field_tag :end,
      @event.end ? (format_time @event.end) : "", :class => "timeSelect field textField entry", :placeholder => "time until" %>
  </div>
  <div class="field">
    <%= f.text_field :location, :class => "textField entry", :placeholder => "Where is the event?"%>
  </div>
  <div class="field">
    <%= f.text_area :details, :id => "moreInfo", :class => "textField", :placeholder => "Add more info..." %>
  </div>
  <div class="actions">
    <a href="#">
      <%= f.submit "", :class => "doneButton" %>
    </a>
  </div>
<% end %>
