<div id="createEventWrapper">
  <p id="notice"><%= notice %></p>

  <%= render 'view' %>
</div>

<div id="logo_div">
  <%= link_to image_tag("logo.png", :id => "logo", :alt => "plan.it"), root_path %>
</div>
<div id="footernote">
  Created as part of PennApps 2013 - Willy Hauser & Mirai Akagawa
</div>



<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Details:</b>
  <%= @event.details %>
</p>

  <div id="step2">
    Step 2: share the link!
  </div>



<%= link_to 'Edit', edit_event_path(@event) %> |
